html, body {
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url(../../assets/img/backgroundtt.png);
  background-size: cover;
  background-attachment: fixed;
  /*padding-top: 10;*/
}

/* -----------------------------------------Home Page Code------------------------------------------ */

/* Image Carousel */

.carousel {
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

.FratPic {
  margin-top: 100px;
  background-image: url(images/OTBackground.jpg);
  width: 100vw;
  height: 100vh;
  background-position: bottom;
  background-size: cover;
  display: flex;
}

/* About us Section homepage */

.aboutUs {
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 28px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0;
}

.aboutUs h1 {
  font-size: 60px;
  color: #e6c462;
}

.line {
  width: 150px;
  height: 4px;
  background: rgb(141, 80, 80);
  margin: 10px auto;
  border-radius: 5px;
}

.pillars {
  background: inherit;
  width: 100%;
  padding: 10px 0px;
}

.title h1 {
  color: rgb(141, 80, 80);
  font-size: 60px;
  width: 50%;
  margin: 30px auto;
  text-align: center;
  font-weight: bold;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.card {
  height: 380px;
  width: 350px;
  padding: 20px 35px;
  background-color: rgb(106, 5, 5);
  border-radius: 20px;
  text-align: center;
  margin: 15px;
  position: relative;
  transition: .5s ease-in-out;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card .tst {
  position: relative;
  /*position: absolute;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.card:hover .tst {
  opacity: 0;
}

.card .pra {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 80%;
}

.card:hover .pra {
  opacity: 1;
}

.card h1 {
  font-size: 35px;
  color: #fff;
}

.pra {
  font-size: 20px;
  color: #fff;
}

/* -----------------------------------Member Page Code------------------------------------------ */

/* -----------------------------------Gallery Page Code----------------------------------------- */

.gallery-title {
  font-size: 60px;
  text-align: center;
  color: rgb(141, 80, 80);
  padding-top: 100px;
}

.container {
  display: flex;
  grid-template-columns: repeat(6,1fr);
  grid-auto-rows: 100px 300px;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.w-1 {
  grid-column: span 1;
}

.w-2 {
  grid-column: span 2;
}

.w-3 {
  grid-column: span 3;
}

.w-4 {
  grid-column: span 4;
}

.w-5 {
  grid-column: span 5;
}

.w-6 {
  grid-column: span 6;
}

.h-1 {
  grid-row: span 1;
}

.h-2 {
  grid-row: span 2;
}

.h-3 {
  grid-row: span 3;
}

.h-4 {
  grid-row: span 4;
}

.h-5 {
  grid-row: span 5;
}

.h-6 {
  grid-row: span 6;
}

@media screen and (max-width:500px) {
  .container {
    grid-template-columns: repeat(1,1fr);
  }
}

@media screen and (max-width:500px) {
  .w-1, .w-2, .w-3, .w-4, .w-5, .w-6 {
    grid-column: span 1;
  }
}

@keyframes move-down {
  0% {
    top: 10%;
  }
  50% {
    top: 35%;
  }
  100% {
    top: 50%;
  }
}

/* ----------------------------------Calendar Page Code---------------------------------------- */

.headLineE {
  padding-top: 100px;
  font-size: 60px;
  text-align: center;
  color: rgb(141, 80, 80);
}

/* Event Calendar for News Letter */

.eventCalendar {
  border-radius: 10%;
  padding-bottom: 50px;
  padding-top: 50px;
}

.eventCalendar h3.year {
  font-size: 40px;
  text-align: center;
  color: #e6c462;
}

.eventCalendar {
  font-family: 'Raleway';
  max-width: 800px;
  margin: 0 auto;
}

.eventCalendar .event {
  box-shadow: 0 4px 16px -8px black;
  display: flex;
  border-radius: 8px;
  margin: 32px 0;
}

.eventCalendar .eventLeftSide {
  background-color: rgb(106, 5, 5);
  min-width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e6c462;
  font-weight: bold;
  text-align: center;
  padding: 8px 48px;
}

.eventCalendar .eventRightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}

.eventRightSide .event-title {
  font-size: 24px;
  color: #e6c462;
  margin: 24px 0 10px 0;
  text-transform: uppercase;
}

.eventRightSide .eventDescription {
  color: rgb(233, 231, 231);
  text-transform: none;
}

.eventLeftSide .date {
  font-size: 56px;
}

.eventLeftSide .month {
  font-size: 18px;
  font-weight: normal;
}

.eventRightSide .event-time {
  background-color: #e6c462;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 8px;
  border-radius: 16px;
  margin: 24px 0;
  font-size: 14px;
  opacity: .7;
}

.eventRightSide .event-time img {
  height: 24px;
  padding: 8px;
}

/* -----------------------------------------Form Page Code------------------------------------------------------ */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container .form-title {
  text-align: center;
  font-size: 24px;
  color: rgb(168, 16, 16);
  padding: 80px 0px;
}

.form-page-title {
  text-align: center;
  padding-top: 100px;
  font-size: 60px;
  color: rgb(141, 80, 80);
}

.form-container .form-contents {
  text-align: center;
  padding: 40px;
  font-size: 20px;
  color: rgb(221, 219, 219);
}

.form-container .form-contents a {
  color: rgb(168, 16, 16);
  text-decoration: none;
}

.form-subline {
  width: 75px;
  height: 4px;
  background: rgb(168, 16, 16);
  margin: 1px auto;
  border-radius: 5px;
}

.form-box {
  max-width: 500px;
  min-width: 400px;
  max-height: 400px;
  border-radius: 10%;
  margin: 10px 0;
  padding: 2rem;
}

.form-container .form-contents a:hover {
  color: #e6c462;
}

/* -----------------------------------------Nav bar and Footer, present on every page--------------------------- */

/* NavBar Code */

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 5%;
  height: 100px;
  background-color: #000000e6;
  font-family: 'Raleway';
  opacity: 1;
}

nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #e6c462;
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .links li {
  list-style: none;
}

nav .links a {
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  color: #e6c462;
  text-decoration: none;
  transition: color .3s;
}

nav .links a:hover {
  color: #FFF;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 0px;
  transition: all .3s ease-in-out;
}

/* Footer Code */

.footer {
  align-self: center;
  padding: 40px;
  color: #e6c462;
  background-color: #000;
  right: 0;
  left: 0;
  background-position: 100vw;
  background-position: cover;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #fff;
}

.footer .social a {
  color: #e6c462;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border: 3px solid #e6c462;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin: 10px;
  border-radius: 50%;
  opacity: .75;
  transition: opacity .3s;
}

.footer .social a:hover {
  opacity: 1;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 20;
  margin-bottom: 0;
  line-height: 1.6;
  text-align: center;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: .9;
  color: #e6c462;
  transition: color .3s;
}

.footer ul a:hover {
  color: #FFF;
  opacity: 1;
}

.footer ul li {
  display: inline-block;
  padding: 15px;
  text-align: center;
}

.footer .copyright {
  text-align: center;
}

@media screen and (max-width: 950px) {
  .box {
    flex-direction: column;
    /*cursor: pointer;*/
  }
}

@media screen and (max-width: 950px) {
  .form-container {
    flex-direction: column;
  }
}

/* Media for responsive pages */

@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #000000e6;
    overflow: hidden;
    box-sizing: border-box;
    transition: all .5s ease-in-out;
  }
}

@media screen and (max-width: 768px) {
  nav .links a {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  nav :checked ~ .links {
    bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  nav .icon-burger {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
}

@media screen and (max-width: 768px) {
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
}

@media screen and (max-width: 768px) {
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .event {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .event .eventLeftSide {
    padding: 0;
    border-radius: 8px 8px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .event .date, .event .month {
    display: inline-block;
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .eventLeftSide .event-date {
    padding: 10px 0;
  }
}

/* --------------------------------------Members and Alumni Section-------------------------- */

.wrapper {
  margin-top: 60px;
  text-align: center;
}

.wrapper h1 {
  font-family: 'Raleway';
  font-size: 48px;
  color: rgb(141, 80, 80);
  margin-bottom: 25px;
}

.wrapper h4 {
  color: #8d5050;
  padding: 0;
  margin: 5px;
}

.our_team {
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.our_team .team_member {
  width: 300px;
  margin: 5px;
  background: rgba(255,255,240,.3);
  box-shadow: 0 4px 16px -8px black;
  padding: 20px 10px;
  border: #e6c462;
  border-width: 5px;
  /*height: 300px;*/
  border-radius: 20px;
  transition: transform .5s;
}

.our_team .team_member:hover {
  transform: scale(1.05);
  /*scale: 1.1;*/
  /*transition: 500ms;*/
}

.our_team .team_member .member_img {
  background: #212121;
  max-width: 190px;
  width: 100%;
  height: 180px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.our_team .team_member .member_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our_team .team_member h3 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 5px 0 0px;
  color: #8d5050;
}

.our_team .team_member span {
  font-size: 10px;
}

.our_team .team_member p {
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.our_team .team_member h2 {
  font-size: 25px;
  color: #8d5050;
  padding: 0;
  margin: 5px 0 0 0;
}

.executive-board {
  padding-top: 100px;
  padding-bottom: 40px;
}

.Alumni {
  padding-top: 300px;
}

.Alumni h3 {
  text-align: center;
  font-size: 60px;
  color: #e6c462;
}

.other-sections {
  padding-top: 0px;
}

